@use './colors';

.banner {
    position: relative;
    height: 223px;
    border-radius: 25px;
    background: #000000;
    & img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        opacity: 0.7;
    }
    & p {
        position: absolute;
        top: 50%;
        left: 22%;
        right: 21%;
        margin: 0;
        font-size: 48px;
        color: colors.$couleur-secondaire;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 768px) {
    .banner {
        border-radius: 10px;
        overflow: hidden;
        & img {
            border-radius: 10px;
        }
        & p {
            left: 5%;
            right: 30%;
            font-size: 24px;
            line-height: 24px;
        }
    }
    .main__home .banner {
        height: 111px;
        & img {
            height: 370%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .main__about .banner {
        height: 223px;
        & img {
            width: 115%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}