@use 'colors';

.main__error {
    text-align: center;
    color: colors.$couleur-primaire;
    & h1 {
        font-size: 288px;
        font-weight: 700;
        line-height: 263px;
        margin: 169px 0 66px 0;
    }
    & p {
        font-size: 36px;
        line-height: 51px;
        margin: 0;
    }
    & a {
        color: colors.$couleur-primaire;
        font-size: 18px;
        line-height: 26px;
    }
}

.back_Home {
    margin: 182px 0 159px 0;
}

@media screen and (max-width: 768px) {
    .main__error {
        & h1 {
            font-size: 96px;
            line-height: 99px;
            margin: 195px 0 11px 0;
        }
        & p {
            font-size: 18px;
            line-height: 26px;
        }
        & a {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .back_Home {
        margin: 133px 0 235px 0;
    }
}