.header {
    display: flex;
    justify-content: space-between;
    height: 68px;
}

nav {
    font-size: 24px;
    margin: auto 0;
    & a {
        padding-left: 57px;
    }
}

a {
    text-decoration: none;
    color: #FF6060;
    &.active {
        text-decoration: underline;
    }
}