@use './colors';

@import url(_Header.scss);
@import url(_Footer.scss);
@import url(_Banner.scss);
@import url(_Cards.scss);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: auto;
  color: colors.$couleur-primaire;
}

main {
  max-width: 1440px;
  margin: auto;
}

.main {
  &__home {
    padding: 63px 100px;
  }
  &__about {
    padding: 44px 100px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    &__home {
      padding: 16px 20px;
    }
    &__about {
      padding: 17px 20px;
    }
  }
}